
# IDE
.idea

vendor/

composer.lock

# temp directories created when running tests
test/Matmar10/Bundle/RestApiBundle/Tests/Fixtures/App/app/cache/
test/Matmar10/Bundle/RestApiBundle/Tests/Fixtures/App/app/log/

.DS_Store
